@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Netural';
    src: url('font/NeutralFace-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

.paused {
    animation-play-state: paused;
}